<!DOCTYPE html>
<html>
    <style>
  h1 {
      word_1 
        background-color: pink;
        color: white;
        font-size: large;
        text-decoration: underline;
        font-weight: bold;
  }
     p {   
      word_2 
        background-color: light blue;
        color: purple;
        font-size: medium;
      }

      </style>
</html>
