ol {
list-style-type: upper-roman;
}

ul {
list-style-type: square;
}

.orange-text-shadow {
  text-shadow:
    1px 1px 2px orange,
    0 0 1em red,
    0 0 0.2em yellow;
  color: black;
  font: 
  1.5em Georgia,
    serif;
}
body {background-image: url{https://static.vecteezy.com/system/resources/previews/009/770/019/non_2x/seamless-pattern-with-watercolor-pumpkins-on-a-white-background-cute-print-on-the-theme-of-autumn-halloween-orange-pumpkins-vegetables-autumn-harvest-background-for-wallpaper-fabric-wrapping-vector.jpg);
                           }
