html{
    font-family: Arial, Helvetica, sans-serif;
}
 body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Flag_of_the_United_States_%28DoS_ECA_Color_Standard%29.svg/1020px-Flag_of_the_United_States_%28DoS_ECA_Color_Standard%29.svg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
    color:black;
 }

 .content-container{
    margin-right: 15%;
    margin-left: 15%;
 }
.topnav{
    background-color: blue;
    overflow:hidden;
    margin-bottom: 18px;
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.active{
    background-color: #000000;
    color: white;
}

.info_tile{
    border:5px solid lightgray;
    box-shadow: 10px 4px 5px grey; 
    padding:25px;
    margin-bottom:18px;
}

.info_tile p{
    text-align: justify;
}

.img{
  float: right;
  margin-left:20px;

}

.text-container{
    margin-right: 20px;
}
.Impact_para{
    font-size: xx-large;
    padding: 78px;
}

p{
    background-color: white;
}

h3{
    text-align: center;
    background-color: white;
}